.nav{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  background-color: aquamarine;
  max-width: 150vh;
  padding: 30px;
  margin: 50px;
}

.desc{
  margin: 30px;

}
.bi bi-cart3{
  font-size: 8rem;
}

